@import url("reset.css");
@import url("https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap");
html {
  background-color: #36384d;
  height: 100vh;
  font-family: "Roboto", sans-serif;
  color: #252947;
  line-height: 1.25rem;
}

body {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

.b-rad {
  border-radius: 0.5rem;
}

.bold {
  font-weight: 700;
}

.container {
  margin: auto;
  padding: 1rem;
  background-color: white;
  width: 70%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.container__text {
  width: 50%;
  padding-left: 2rem;
}

.container__info {
  font-size: 0.875rem;
  margin-bottom: 1rem;
}
.container__info h1 {
  font-size: 2.25rem;
  margin-bottom: 1.25rem;
  color: #242741;
  line-height: 2.5rem;
}
.container__info p {
  margin-bottom: 1rem;
}
.container__info li {
  margin-bottom: 0.5rem;
}
.container__info li::before {
  content: url(/assets/images/icon-list.svg);
  display: inline-block;
  margin-right: 0.5rem;
  vertical-align: middle;
}

.container__form {
  font-size: 0.875rem;
}
.container__form label {
  display: block;
  margin: 0 0 0.5rem 0;
  color: #242741;
  cursor: default;
}
.container__form input {
  border: 0.1rem rgba(0, 0, 0, 0.314) solid;
  padding: 0.75rem 2rem;
  display: block;
  margin: 0 0 0.8rem 0;
  width: 100%;
}
.container__form input::-moz-placeholder {
  color: black; /*Change the placeholder color*/
  opacity: 30%; /*Change the opacity between 0 and 1*/
}
.container__form input::placeholder {
  color: black; /*Change the placeholder color*/
  opacity: 30%; /*Change the opacity between 0 and 1*/
}
.container__form input:focus {
  border-color: #4a53d3;
}
.container__form button {
  padding: 1rem;
  display: block;
  margin: 0 0 0.8rem 0;
  background-color: #242741;
  color: white;
  width: 100%;
}
.container__form button:hover, .container__form button:focus {
  transition: 0.2s;
  background: #f76458;
}

.label-wrap {
  display: flex;
  justify-content: space-between;
  gap: 0.6rem;
}

.container__form_invalid {
  color: red;
  display: none;
}

.container__image {
  width: 40%;
}
.container__image img {
  height: auto;
  width: 100%;
}

.container__image_mobile {
  display: none;
}

@media screen and (max-width: 500px) {
  .container {
    width: 100%;
    flex-direction: column-reverse;
    padding: 0;
    height: 100vh;
  }
  .container__image_desktop {
    display: none;
  }
  .container__image_mobile {
    display: block;
    width: 100%;
  }
  .container__text {
    width: 100%;
    padding: 1rem;
  }
  .container__form button {
    margin-bottom: 2.75rem;
  }
}
.modal {
  display: block;
  width: 30%;
}
.modal img {
  margin-bottom: 1rem;
}
.modal h1 {
  font-size: 2rem;
  line-height: 2rem;
  font-weight: 700;
  margin-bottom: 1rem;
}
.modal p {
  margin-bottom: 1rem;
}
.modal span {
  font-weight: 700;
}
.modal a {
  display: block;
  width: 90%;
  text-align: center;
  margin: 0 auto;
  padding: 1rem 1.3rem;
  background-color: #242741;
  color: #ffffff;
}
.modal a:hover, .modal a:focus {
  transition: 0.2s;
  background: #f76458;
}

@media screen and (max-width: 690px) {
  body {
    height: 100vh;
  }
  .modal {
    align-items: flex-start;
    padding: 2rem 1rem 1rem;
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: 100px;
    height: 100vh;
  }
  .modal a {
    margin-bottom: 2.75rem;
  }
  .modal__info {
    margin: auto 0;
  }
}/*# sourceMappingURL=style.css.map */